<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/main.css">
    
</head>
<body>
    <div class="container-intranet">   
        <div class="intranet-forum">
            <p>Perfil</p>
        </div>
        <div class="intranet-forum">
            <a href="/topics">
                <p>Forum</p>
            </a>
        </div>
        <div class="intranet-forum">
            <p>Informações</p>
        </div>
    </div>
</body>

</html>
