<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <link rel="stylesheet" href="../../public/css/topic-answers.css">
    <link rel="stylesheet" href="../../public/css/main.css">
    
</head>
<body>
    <nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2">
                <li class="nav-item">
                    <a class="nav-link" href="../home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="topics.html">Perguntas</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="topic-master-list" class="col-sm-12">
                
            </div>
        </div>
        <div class="row topic-page">
            
            <div class="col-sm-12">
                <article class="topic-answers">
                    <header>
                        <h5>Zé Ramalho</h5>
                        <small>13/08/2020</small>
            
                    </header>
                    <p>Por conseguinte, o início da atividade geral de formação de atitudes afeta positivamente a correta previsão dos paradigmas corporativos.</p>
                </article>
            </div>

            <div class="col-sm-12">
                <article class="topic-answers">
                    <header>
                        <h5>Zé Ramalho</h5>
                        <small>13/08/2020</small>
            
                    </header>
                    <p>
                        Por conseguinte, o início da atividade geral de formação de atitudes afeta positivamente a correta previsão dos paradigmas corporativos.
                        Por conseguinte, o início da atividade geral de formação de atitudes afeta positivamente a correta previsão dos paradigmas corporativos.
                        Por conseguinte, o início da atividade geral de formação de atitudes afeta positivamente a correta previsão dos paradigmas corporativos.
                        Por conseguinte, o início da atividade geral de formação de atitudes afeta positivamente a correta previsão dos paradigmas corporativos.
                        Por conseguinte, o início da atividade geral de formação de atitudes afeta positivamente a correta previsão dos paradigmas corporativos.
                        Por conseguinte, o início da atividade geral de formação de atitudes afeta positivamente a correta previsão dos paradigmas corporativos.
                        Por conseguinte, o início da atividade geral de formação de atitudes afeta positivamente a correta previsão dos paradigmas corporativos.
                        
                    </p>
                    
                    
                </article>
            </div>

            <div class="col-sm-12">
                <article class="topic-answers">
                    <header>
                        <h5>Zé Ramalho</h5>
                        <small>13/08/2020</small>
            
                    </header>
                    <p>Por conseguinte, o início da atividade geral de formação de atitudes afeta positivamente a correta previsão dos paradigmas corporativos.</p>
                </article>
            </div>

        </div>
        <div class="row answers">
            <div class="col-sm-12">
                <form id="answers">
                    <div id="msg" class="text-center"></div>
                    <div class="form-group">
                        <label for="body-answer">Resposta</label>
                        <textarea class="form-control body-answer" placeholder="Publique sua resposta" name="body-answer" rows="5"></textarea>
                        <button type="submit" class="btn-lg btn-primary my-3">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../core/list.js"></script>
    <script src="../core/teste.js"></script>
    <!--
    <script src="../controller/showTopicAnswer.js"></script>-->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>